

:root {
    /*List of colors in the color scheme as variables
        we can ofc add more colors as needed*/
    --colorDark:#0D090A;        /*darkest, almost black*/
    --colorVibrant:#733148;     /*vibrant middle color (used in logo and icons)*/
    --colorMild:#785964;        /*less saturated middle color*/
    --colorLight:#E5DCDF;       /*Lightest, almost white*/

    --bs-btn-font-family:

}


.standard-font{
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

.header-text {
    color: #733148;
}

/*gets overridden so not useful atm*/
.backgound {
    background-color: #f1edee;
}

.form-index {
    color: #733148;
}


.header {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    border-bottom: solid 1px;
}

.logo {

}

.profile_navbar{
    width: 250px;
}

.user {

}

.posts-container {
    padding-top: 5%;
}

.posts {
    color: var(--colorDark);
    background-color: #f1edee;
    width: 70%; /* Sets the width to 50% of the parent container */
    text-align: center; /* Optional: centers the text inside */
    border: solid 1px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.post-author {
    text-align: left;
    margin-left: 10px;
}

.post-content{
    text-align: left;
    margin-left: 10px;
}

